.form-container {
  padding-left: 2rem;
}

.formTitle {
  margin-bottom: 1rem;
}

form label {
  display: inline-block;
  width: 150px;
}

input,
textarea,
select {
  width: 300px;
  padding: 0.7rem;
  margin-bottom: 1rem;
  background: white;
  border: none;
  outline: none;
  border-radius: 5px;
}

form button {
  background-color: orange;
  width: 300px;
  padding: 0.7rem;
  border-radius: 5px;
  margin-left: 150px;
  cursor: pointer;
}

.form-control.invalid input {
  border-color: red;
}

.form-control.invalid label {
  color: red;
}

@media screen and (max-width: 500px) {
  form button {
    margin-left: 0;
  }

  form input,
  form textarea,
  form button,
  form select {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .form-container {
    padding-left: unset;
  }
}
