@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
}

#root {
  /* min-height: 100vh; */
  background: rgb(131, 131, 223);
}

h2 {
  font-size: 2rem;
}
